{{!-- hbs files are html with a few adds --}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="icon" href="/img/icon.png" />
  <!-- rel = relationship -->
  {{!-- only page/view that needs to fetch the data so only page that needs access to this script --}}
  <script src='./js/app.js' defer></script>
  <title>Weather</title>
</head>

<body>
  {{!-- handlebar syntax to inject values dynamically when value name is {{propName}} --}}

  <div class="main-content">
    {{>header}}
    <p>Use this site to get your weather</p>

    <form action=""><input placeholder="Location"><button>Search</button></form>

  </div>
  {{>footer}}

</body>

</html>